apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "valkey-cluster.fullname" . }}-cluster-script
  namespace: {{ include "valkey-cluster.names.namespace" . }}
  labels:
    {{- include "valkey-cluster.labels" . | nindent 4 }}
data:
  init-cluster.sh: |-
{{ tpl (.Files.Get "scripts/cluster-init-script.sh") . | indent 4 }}