apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "valkey.fullname" . }}-init-scripts
  labels:
    {{- include "valkey.labels" . | nindent 4 }}
data:
  init.sh: |-
    #!/bin/sh
    set -euo pipefail

    # Default config paths
    VALKEY_CONFIG=${VALKEY_CONFIG_PATH:-/data/conf/valkey.conf}

    LOGFILE="/data/init.log"
    DATA_DIR="/data/conf"

    # Logging function
    log() {
      echo "$(date) $1" | tee -a "$LOGFILE"
    }

    # Clean old log if requested
    if [ "${KEEP_OLD_LOGS:-false}" != "true" ]; then
      rm -f "$LOGFILE"
    fi

    if [ -f "$LOGFILE" ]; then
      log "Detected restart of this instance ($HOSTNAME)"
    fi

    log "Creating configuration in $DATA_DIR..."
    mkdir -p "$DATA_DIR"
    rm -f "$VALKEY_CONFIG" 

 
    # Base valkey.conf
    log "Generating base valkey.conf"
    {
{{- if .Values.tls.enabled }}
      echo "tls-cert-file /tls/{{ .Values.tls.serverPublicKey }}"
      echo "tls-key-file /tls/{{ .Values.tls.serverKey }}"
      echo "tls-ca-cert-file /tls/{{ .Values.tls.caPublicKey }}"
      {{- if .Values.tls.dhParamKey }}
      echo "tls-dh-params-file /tls/{{ .Values.tls.dhParamKey }}"
      {{- end }}
      {{- if not .Values.tls.requireClientCertificate }}
      echo "tls-auth-clients no"
      {{- end }}
      echo "port 0"
      echo "tls-port 6379"
{{- else }}
      echo "port 6379"
{{- end }}
      echo "protected-mode no"
      echo "bind * -::*"
      echo "dir /data"
    } >>"$VALKEY_CONFIG"

    {{- if .Values.auth.enabled }}
    echo "aclfile /data/conf/users.acl" >>"$VALKEY_CONFIG"
    {{- if or .Values.auth.generateDefaultUser.enabled .Values.auth.existingSecret }}
    # Copy ACL from mounted secret
    if [ -f /valkey-auth/users.acl ]; then
      log "Using ACL configuration from secret"
      cp /valkey-auth/users.acl /data/conf/users.acl
    else
      log "ERROR: auth.enabled is true but no ACL file found in secret"
      exit 1
    fi
    {{- else }}
    # Use inline ACL configuration
    cat <<EOF > /data/conf/users.acl
{{ .Values.auth.aclConfig | indent 6 }}
    EOF
    {{- end }}
    {{- end }}

    # Append extra configs if present
    if [ -f /usr/local/etc/valkey/valkey.conf ]; then
      log "Appending /usr/local/etc/valkey/valkey.conf"
      cat /usr/local/etc/valkey/valkey.conf >>"$VALKEY_CONFIG"
    fi
    if [ -d /extravalkeyconfigs ]; then
      log "Appending files in /extravalkeyconfigs/"
      cat /extravalkeyconfigs/* >>"$VALKEY_CONFIG"
    fi

